@******************************************************
* View for list of medications/drugs.                 *
* This view can be applied to list all drugs either   *
* prescribed by one visit, or all records found with  *
* a particular patient.                               *
* @id:      id of a visit or patient                  *
* @title:   title for the page                        *
* @medicines    a list of medicines                   *
* @prevPage     previous page url                     *
******************************************************@
@(id: String, title: String, medicines: List[models.Medication], prevPage: String)

@main("list-medicines"){

<blockquote>
    <h3 class="text-left">@title MRN # @id</h3>
    <a href="@prevPage" class="text-left">
        Click here to return to previous visits page
    </a>
</blockquote>
<table data-group="@id" class="table table-condensed table-hover table-striped table-responsive">
    @if(medicines.isEmpty){
        <h3 style="margin-left:50px">No medicine records available</h3>
    } else {
        <tr>
            <td><b>Drug Name: </b></td>
            <td><b>Group: </b></td>
            <td><b>Start Date: </b></td>
            <td><b>End Date: </b></td>
        </tr>
        @medicines.map { med =>
            @views.html.medicines.medicine(med)
        }
    }
</table>
}