@**************************************
* View for tabular visit data,        *
* including date, cgi score and notes *
**************************************@
@(visit: models.Visit)
<tr>
    <td id="date" width="20%">
        <a href="@routes.Medication.getByVisit(visit.visitId)">@visit.visitDate.format("yyyy-MM-dd")</a>
    </td>
    <td id="cgi" width="50%"><b>CGI Score:</b> @visit.cgiScore</td>
</tr>
<tr id="notes" class="info">
    <td><b>Notes:</b></td>
    <td width="50%">@visit.visitNotes</td>
</tr>

