@**************************************
* View for table of all visiting data *
* related with user <id>              *
* @id:      id of patient             *
* @group:   tag for page              *
* @visits   a list of visits          *
**************************************@
@(id: Integer, group: String, visits: List[models.Visit])

@main("list-visits"){
<!-- ********************************************************** -->
<!-- View for table of all visiting data related with user <id> -->
<!-- ********************************************************** -->

<blockquote>
    <h3 id="groupname" class="text-left">@group for patient MRN # @id</h3>
    <h4 class="text-left">Click on the date to see all drugs prescribed on that visit</h4>
</blockquote>
<table data-group="@group" width="60%" class="table table-bordered table-condensed table-hover table-striped table-responsive">
    @for(v <- visits) {
        @views.html.visits.visit(v)
    }
</table>
}