body, html {
    font-family: sans-serif;
}

.custom-style1 {
    fill: #00a0f2;
    fill-opacity: 0;
    stroke-width: 1.5px;
    stroke: #050092;
}

.text-muted {
    color: #9d9d9d;
}

#loading {
  display: block;
  margin: 5px auto;
}

#border 
{ fill: #00517a }

#loader 
{ fill: #0088cc }
