@***********************************
* Viewer for submitting patient id *
***********************************@
@(message: String)

@main("patient-query") {
    <h1>Welcome to MindsEye</h1>
    <h4>Please input the patient's ID that you want to query:</h4>

    @*************************************************
    * specify where this form should be submitted to *
    *************************************************@
    @helper.form(routes.Patient.post) {
        <p><input type="text" name="patient" value=""></p>
        <p><button type="submit">Submit</button></p>
    }
}
